<h1>Keychain Test</h1>

<form action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>" 
      method="get">
    <?php if ($this->hasKey()) : ?>
    <p><?php echo $this->escapeQuote($this->getKey()); ?></p>
    <?php endif; ?>

    <div class="field newsletter">
        <label class="label" for="key">
            <span>
                <?php echo $block->escapeHtml(__('Enter your text here')) ?>
            </span>
        </label>
        <div class="control">
            <input name="key" 
                   type="text"
                   size="45"
                   id="key"
                   placeholder="<?php echo $block->escapeHtmlAttr(__('Enter your text for engraving here')) ?>"
            />
        </div>
        <div class="actions">
            <p class="text-align: right; clear: both">
                <button class="action primary" style="float: right" title="<?php echo $block->escapeHtmlAttr(__('Send')) ?>" type="submit">
                <span><?php echo $block->escapeHtml(__('Send')) ?></span>
                </button>
            </p>
        </div>
    </div>
</form>
